.vs
obj/
/Files/
app/server/build/*.txt
app/server/build/*.cmake
CMakeFiles
Makefile
bin/Debug
x64/Debug
app/server/Libraries
.vscode
Logs
Vagrantfile
cache
.sass-cache
.idea
Build
*.cache
.directory
Vagrantfile
vendor
bower_components
node_modules
*.log
.vagrant
.vscode
.sass-cache
cache
Cache
Libraries
.ideabower_components
node_modules
Libraries
puphpet
.vagrant
private.php
private.sh
.vscode
cookie.txt
config.php
coverage.xml
.htaccess
.directory
*.log
*.jar
*.cache
*.phar
*.xml
app/server/bin/x64/Debug
app/server/x64/Debug
.vscode
